 <div class="jumbotron">
   <h1>Welcome to Blocmetrics!</h1>
   <p>We collect and analyze data for your consumption!  More applications means more data, which means we're delivering more value to you each and every day! </p>

 </div>

 <div class="row">
   <div class="col-md-8">
     <h2>Shall we get started?</h2>
     <br>
     <h4><%= link_to "VIEW", registered_applications_path %> a list of your tracked applications!</h4>
     <br>
     <h4><%= link_to "ADD", new_registered_application_path %> new applications to the list!</h4>
   </div>
</div>
